[Unit]
Description=Service for fancontrol
After=platform-modules-questone2bd.service

[Service]
Type=forking
ExecStart=/usr/local/bin/fand_v2

[Install]
WantedBy=multi-user.target