[Unit]
Description="Service for add vlan for rsyslog"
After=network.target
Before=rsyslog-config.service
Before=ntp.service

[Service]
Type=forking
ExecStart=/bin/sh /usr/local/etc/bmc_vlan.sh

[Install]
WantedBy=rsyslog.service