[Unit]
Description=Service for enable BMC watchdog.
After=bmc_vlan.service

[Service]
ExecStart=/usr/bin/python /usr/local/etc/bmc_wdt.py start
ExecStop=/usr/bin/python /usr/local/etc/bmc_wdt.py stop

[Install]
WantedBy=multi-user.target
