
[Unit]
Description=Celestica mystone platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-mystone start
ExecStop=-/etc/init.d/platform-modules-mystone stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
