Package: platform-modules-mystone
Source: sonic-cel-platform-modules
Version: 1.0
Architecture: amd64
Maintainer: Wirut Getbamrung <wgetbumr@celestica.com>
Installed-Size: 2119
Section: main
Priority: extra
Description: kernel modules for platform devices such as fan, led, sfp
