[Unit]
Description=Service for send sensor data value to BMC.
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/local/etc/sync_bmc.py

[Install]
WantedBy=multi-user.target