
[Unit]
Description=Celestica questone2bd platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-questone2bd start
ExecStop=-/etc/init.d/platform-modules-questone2bd stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
