[Unit]
Description=Celestica Silverstone DP platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-silverstone-dp start
ExecStop=-/etc/init.d/platform-modules-silverstone-dp stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target