Package: platform-modules-dx010-dbgsym
Source: sonic-cel-platform-modules
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Wirut Getbamrung <wgetbumr@celestica.com>
Installed-Size: 51
Depends: platform-modules-dx010 (= 1.0)
Section: debug
Priority: extra
Description: Debug symbols for platform-modules-dx010
Build-Ids: aac15179ceeda894a177cae6ccd37a750823f971 ae1d52a7aff6c69c0d4ddc28e293eaf2f1eca45b
